{% extends 'base.html' %}


{% block content %}

<div class="about_page">
    <div class = "Contact_body">
    <header id="page-header">
        <div class="col-md-6 m-auto text-center text-light">
            <h1>AT: CUE@ac.ca</h1>
            <p class="lead">Anybody Can Give Blood.
            <br>"You don't have to be a doctor to save lives. Just donate blood"</p>
        </div>
    </header>

    <!-- address -->
    <!--<div class="address text-center">
        <address class="p-5 font-weight-bold">{{ contact.contact_text }}</address>
    </div>-->
    </div>
</div>


{% endblock  %}